* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --sm: 0.9rem;
  --md: 24px;
  --lg: 34px;
}
body {
  background: #EAEDED;
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
}
.contenedor {
  margin: auto;
  width: 90%;
  max-width: 1280px;
}

ul {
  list-style: none;
}

/* ------------------------ */
/* Carrusel
/* ------------------------ */
.main, .glide {
  width: 100%;
  max-width: 100%;
}

.glide__slide img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  display: block; /* Evita espacios blancos debajo de las imágenes */
}

/* ------------------------ */
/* Categorias
/* ------------------------ */
.categories-container,
.collections-container {
  background-color: #fff;
  border-radius: 12px;
  margin: 24px auto 0px auto;
  width: 95%;
}

.categories-container header .text,
.collections-container header .text {
  padding: 14px 0px 0px 14px;
  font-size: 1rem;
}
.categories-container article {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 12px;
  gap: 24px;

  overflow-x: auto;
}

.categories {
  border-radius: 24px;
  transition: transform 0.3s ease; /* Animación suave */
}

.categories figure {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 12px;
}

.categories figure figcaption {
  padding-bottom: 4px;
  color: #000;
}

.categories figure img {
  width: 200px;
  height: 200px;
  border-radius: 24px;
  transition: transform 0.3s ease; /* Suavizar el zoom */
}

.categories:hover figure img {
  transform: scale(1.1); /* Zoom al 110% */
}


/* ------------------------ */
/* Productos destacados
/* ------------------------ */
.title-featured-products {
  display: block;
  background: var(--dark-blue);
  padding: 10px;

  color: var(--white);
  text-align: center;
  text-transform: uppercase;
}

/* ------------------------ */
/* Contenedor de productos
/* ------------------------ */
.products-container header {
  padding: 24px 0px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 26px;
  background-color: #fff;
  border-radius: 12px;
  margin: 24px auto 0px auto;
  padding: 12px 0px;
  width: 95%;
}

.product-card {
  flex: 1 1 220px; /* Las tarjetas ocupan un mínimo de 220px, y se expanden según el espacio disponible */
  max-width: 220px; /* Limita el ancho máximo para que no se expandan demasiado */
  position: relative;
  background-color: transparent;
  border-radius: 20px;
}
.product-card img {
  width: 220px;
  height: 220px;
  border-radius: 20px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.product-card img:hover {
  transform: scale(0.9); /* Hacemos un zoom del 10% en el hover */
}

.product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  padding: 0px 10px;
}

.product-info a:hover {
  text-decoration: underline !important;
}

.product-info figure {
  margin: 0;
}

.product-info figure a i {
  cursor: pointer;
  font-size: 24px;
  color: #E47911;
}

.product-info div p {
  font-weight: bold;
  font-size: var(--md);
  margin-top: 0;
  margin-bottom: 4px;
}

.product-info div a {
  font-size: var(--sm);
  margin-top: 0;
  margin-bottom: 0;
  color: var(--grey);
}

.product-info div a:hover {
  text-decoration: underline;
}


/* ------------------------ */
/* FAVORITO
/* ------------------------ */
.favorite {
  position: absolute;
  top: 20px;
  right: 20px;
}

.favorite i{
  cursor: pointer;
  font-size: 24px;
  color: #E47911;
}

/* ------------------------ */
/* DESCUENTO
/* ------------------------ */
.discount-badge {
  position: absolute;
  top: 10px; /* Ajusta la posición según sea necesario */
  left: 10px;
  background-color: #e63946; /* Color de fondo rojo */
  color: #fff; /* Color del texto blanco */
  padding: 5px 10px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  z-index: 1; /* Asegura que esté por encima de otros elementos */
}