@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
::-webkit-scrollbar {
  width: 12px; /* Ancho de la barra de desplazamiento */
  height: 8px;
}

/* Estilos para el "riel" de la barra de desplazamiento */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color de fondo del riel */
}

/* Estilos para el "pulgarcito" (scroll thumb) */
::-webkit-scrollbar-thumb {
  background: #888; /* Color del pulgarcito */
}

::-moz-scrollbar {
  width: 12px; /* Ancho de la barra de desplazamiento */
  height: 8px;
}

::-moz-scrollbar-thumb {
  background-color: #888;
}

::-moz-scrollbar-track {
  background-color: #f1f1f1;
}

:root {
  --degradado: linear-gradient(
    #ffdc80,
    #f5af19,
    #fcaf45,
    #f77737,
    #f56040,
    #fd1d1d
  );

  --white: #ffffff;
  --beige: #E9E9D0;
  --beige-light: #E9E9D05C;
  --beige-light-nav: #E9E9D1AD;
  --green: #0E4749;
  --black: #212529;
  --red: #fd1d1d;
  --orange: #ea7419;
  --blue: #003b7a;
  --blue-light: #2481c4;
  --grey: #7d7d7d;
  --grey-light: #eeeeee;
  --dark-blue: #1d344c;

  --header: #e6e6e6;
  --navbar: #232f3d;

  --sm: 14px;
  --md: 16px;
  --lg: 18px;

  --lexend: "Lexend", sans-serif;
  --unbounded: "Unbounded", sans-serif;
}

body {
  background-color: var(--grey-light);
  max-height: 100vw;
}

a {
  text-decoration: none !important;
}

li {
  list-style: none;
}
ul {
  margin-bottom: 0;
}

/*
.container_main-categories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 24px 48px;

  background-color: var(--white);
  border-radius: 12px !important;
}

.container_main-categories header {
  padding-top: 12px;
  padding-left: 24px;
}
.container_main-categories header h1 {
  font-size: 1.1rem;
}
.container_main-category {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.container_main-categories .container_main-category_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container_main-categories .container_main-category_block div {
  border-radius: 100px;
  width: 80px;
  height: 75px;
  background: var(--black);
  overflow: hidden;
  margin: 8px 0px;
}
.container_main-categories .container_main-category_block div img {
  width: 100%;
}
.container_main-categories .container_main-category p {
  color: var(--black);
}

*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--lexend);
}

p,
a,
span,
figcaption {
  font-family: var(--lexend);
}
.main {
  padding: 100px 0px 0px 0px;
  width: 100%;
  min-height: 90vh;
  background-color: var(--beige-light);
}

.title-featured-products {
  display: block;
  background: var(--green);
  padding: 10px;
  color: var(--white);
  text-align: center;
  text-transform: uppercase;
}

/* ---- categoria ---- */
.categories-container,
.collections-container {
  background-color: var(--white);
  border-radius: 12px;
  margin: 24px auto 0px auto;
  width: 95%;
}

.categories-container header .text,
.collections-container header .text {
  padding: 14px 0px 0px 14px;
  font-size: 1rem;
}
.categories-container article {
  display: flex;
  align-items: center;
  padding: 12px;
  gap: 24px;

  overflow-x: scroll;
}

.categories {
  border-radius: 24px;
}
.categories:hover {
  box-shadow: 2px 3px 2px 2px rgba(0, 0, 0, 0.1); /* Estilo de sombra */
}

.categories figure {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 12px;
}
.categories figure figcaption {
  padding-bottom: 4px;
  color: var(--black);
}
.categories figure img {
  width: 200px;
  height: 200px;
  border-radius: 24px;
}

/* ---- collections ---- */
.collections-container .collections {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  gap: 24px;
}

.collections a,
.collections figure,
.collections section {
  border-radius: 24px;
}
.collections img {
  width: 220px;
  height: 200px;
  border-radius: 24px;
}
.collections section figcaption {
  padding-top: 4px;
}
.collections section a figure {
  text-align: center;
  text-transform: capitalize;
  padding-bottom: 4px;
  color: var(--black);
}
.collections section:hover {
  box-shadow: 2px 3px 2px 2px rgba(0, 0, 0, 0.1);
}

/* ---- pruducts container ---- */

.products-container header {
  padding: 24px 0px;
}
.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 220px);
  gap: 26px;
  place-content: center;
}
.product-card {
  position: relative;
  width: 220px;
  background-color: var(--white);
  border-radius: 20px;
}
.product-card img {
  width: 220px;
  height: 220px;
  border-radius: 20px;
  object-fit: cover;
  transition: transform 0.3s ease;
}
.product-card img:hover {
  transform: scale(0.9); /* Hacemos un zoom del 10% en el hover */
}
.product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  padding: 0px 10px;
}
.product-info a:hover {
  text-decoration: underline !important;
}
.product-info figure {
  margin: 0;
}
.product-info figure img {
  cursor: pointer;
  width: 35px;
  height: 35px;
}
.product-info div p {
  font-weight: bold;
  font-size: var(--md);
  margin-top: 0;
  margin-bottom: 4px;
}
.product-info div a {
  font-size: var(--sm);
  margin-top: 0;
  margin-bottom: 0;
  color: var(--grey);
}
.product-info div a:hover {
  text-decoration: underline;
}

.favorite {
  position: absolute;
  top: 20px;
  right: 20px;
}

.favorite i.fa-heart {
  cursor: pointer;
  font-size: 24px;
  color: var(--orange);
}
@media screen and (max-width: 1050px) {
  .collections-container .collections {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 860px) {
  .collections img {
    width: 200px;
  }
}

@media screen and (max-width: 740px) {
  .collections-container .collections {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .collections img {
    width: 90%;
  }
}

@media (max-width: 640px) {
  .cards-container {
    grid-template-columns: repeat(auto-fill, 140px) !important;
  }
  .product-card {
    width: 140px;
  }
  .product-card img {
    width: 140px;
    height: 140px;
  }
}

@media (max-width: 640px) {
  .categories figure img {
    width: 150px;
    height: 150px;
  }
}
