* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #EAEDED;
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
}
.contenedor {
  margin: auto;
  width: 90%;
  max-width: 1280px;
}

.contenedor article {
  background: #fff;
  margin: 20px 0;
  padding: 20px;
  height: 1000px;
}
