/* ------------------------ */
/* Enlaces del NAV */
/* ------------------------ */
.menu {
  background-color: #232F3E;
  padding: 5px 0;
  margin-bottom: 20px;
}

.menu .contenedor-botones-menu {
  display: none;
  justify-content: space-between;
}

.menu .contenedor-botones-menu button {
  font-size: 20px;
  color:  #fff;
  padding: 10px 20px;
  border: 1px solid transparent;
  display: inline-block;
  cursor: pointer;
  background: none;
}

.menu .contenedor-botones-menu button:hover {
  border: 1px solid rgb(255, 255, 255, .4);
}

.menu .contenedor-botones-menu .btn-menu-cerrar {
  display: none;
}

.menu .contenedor-botones-menu .btn-menu-cerrar.activo {
  display: inline-block;
}

.menu .contenedor-enlaces-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu .btn-categorias {
  color:  #fff;
  padding: 7px;
  border-radius: 3px;
  display: flex;
  align-items: flex-end;
  border: 1px solid transparent;
  font-size: 12px;
  cursor: default;
}

.menu .btn-categorias i {
  margin-left: 20px;
  position: relative;
  bottom: 3px;
}

.menu .btn-categorias:hover {
  border: 1px solid rgb(255, 255, 255, .4);
}
.menu .btn-categorias span {
  display: block;
  font-size: 14px;
  font-weight: bold;
}

.menu .contenedor-enlaces-nav .enlaces a {
  color: #ccc;
  border: 1px solid transparent;
  padding: 7px;
  border-radius: 3px;
  font-size: 14px;
}

.menu .contenedor-enlaces-nav .enlaces a:hover {
  border: 1px solid rgb(255, 255, 255, .4);
}